In [1]:
# KERNEL: mlenv

# Import dependencies
import warnings
warnings.filterwarnings("ignore")

In [2]:
#dependencies
import numpy as np
import pandas as pd
#from pathlib import Path
#from collections import Counter
from sklearn.metrics import balanced_accuracy_score
#from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [3]:
# GET Tabled input
# creating database engine
db_name = 'Company_Stocks_DB'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)
# read data from PostgreSQL database table and load into Dataframe instance
stock_df = pd.read_sql("select * from \"view_company_all_star\"", engine);
# Print the DataFrame
stock_df.head()

,ticker,date_val,company_name,company_url,employee_count,revenue,sector,city_name,state_name,country_code,latitude,longitude,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD,2020-03-12,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,42.20,43.91,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD,2020-03-15,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,39.08,43.37,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD,2020-03-16,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,40.19,42.88,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD,2020-03-17,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,39.54,41.95,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD,2020-03-18,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,39.56,41.70,37.69,39.82,88939024.0,40.2337,396388.0,0.657230

In [4]:
# # Test Data for Initial Model
# stock_df = pd.read_csv("../Queries/Testing_Files/company_all_star.csv")
# stock_df.head()

In [5]:
# check dtypes
stock_df.dtypes

ticker                     object
date_val                   object
company_name               object
company_url                object
employee_count             object
revenue                    object
sector                     object
city_name                  object
state_name                 object
country_code               object
latitude                  float64
longitude                 float64
open_val                  float64
high_val                  float64
low_val                   float64
close_val                 float64
volume                    float64
volume_weight             float64
number_of_transactions    float64
percent_change            float64
dtype: object

In [6]:
# training model needs to be "int64" for it to be fit, converted all float64s
# stock_df[[
#     "latitude", 
#     "longitude", 
#     "open_val", 
#     "high_val", 
#     "low_val", 
#     "close_val", 
#     "volume",
#     "volume_weight",
#     "number_of_transactions",
#     "percent_change"]] = stock_df[[
#                                 "latitude", 
#                                 "longitude",
#                                 "open_val", 
#                                 "high_val", 
#                                 "low_val", 
#                                 "close_val", 
#                                 "volume",
#                                 "volume_weight",
#                                 "number_of_transactions",
#                                 "percent_change"
#                                 ]].astype("int")

In [7]:
# verify .astype() changes
stock_df.dtypes

ticker                     object
date_val                   object
company_name               object
company_url                object
employee_count             object
revenue                    object
sector                     object
city_name                  object
state_name                 object
country_code               object
latitude                  float64
longitude                 float64
open_val                  float64
high_val                  float64
low_val                   float64
close_val                 float64
volume                    float64
volume_weight             float64
number_of_transactions    float64
percent_change            float64
dtype: object

In [8]:
# Convert "date_val" from datetime to string
stock_df['date_val'] = stock_df['date_val'].astype(str)

In [9]:
#Combine ticker and date into one column
stock_df["ticker_date"] = stock_df["ticker"] + " " + stock_df["date_val"]

In [10]:
#stock_df["ticker_date"].astype("float")

In [11]:
stock_df.drop(["ticker","date_val","longitude", "latitude", "company_name", "company_url"], axis=1, inplace=True)
ticker_date = stock_df.pop("ticker_date")
stock_df.insert(0, "ticker_date", ticker_date)
stock_df.head()

,ticker_date,employee_count,revenue,sector,city_name,state_name,country_code,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD 2020-03-12,5k-10k,over-1b,Technology,Santa Clara,CA,US,42.20,43.91,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD 2020-03-15,5k-10k,over-1b,Technology,Santa Clara,CA,US,39.08,43.37,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD 2020-03-16,5k-10k,over-1b,Technology,Santa Clara,CA,US,40.19,42.88,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD 2020-03-17,5k-10k,over-1b,Technology,Santa Clara,CA,US,39.54,41.95,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD 2020-03-18,5k-10k,over-1b,Technology,Santa Clara,CA,US,39.56,41.70,37.69,39.82,88939024.0,40.2337,396388.0,0.657230

In [12]:
# SKIP THIS BUT COULD BE USED FOR REFERENCE
# stock_AMD = stock_df.loc[stock_df["ticker"] == "AMD"]
# stock_AMD

In [14]:
stock_df.dtypes
# need to bucket all objects????

ticker_date                object
employee_count             object
revenue                    object
sector                     object
city_name                  object
state_name                 object
country_code               object
open_val                  float64
high_val                  float64
low_val                   float64
close_val                 float64
volume                    float64
volume_weight             float64
number_of_transactions    float64
percent_change            float64
dtype: object

In [15]:
# Function to run model (run each ticker and date through model in for loop)
def random_forest(processing_df):
    X = stock_df.drop(["ticker_date"], axis=1)
    X = pd.get_dummies(X)
    
    y = stock_df["ticker_date"]

In [16]:
# Create our features 
X = stock_df.drop("ticker_date", axis=1)
X = pd.get_dummies(X)

# Target 
y = stock_df["ticker_date"]

# need to combine ticker and date values into one column in format below
# "AMD 03.17.2022" 

# THEN

# DROP long, lat, company_name, url, ticker & date (once columns are combined)
# bucketing for employee_count and revenue

In [17]:
# One dataset for geolocation and another for stock behaviour? run each through the model?

# for each record in the the dataframe:
#     move records ticker into new_ticker
#     if new_ticker = prev_ticker:
#         move the ticker value to previous value
#         and...
#         move the record to the processing_dataframe
#     else: # when the new_ticker and the previous_ticker aren't the same,
#           # we have all records in the processing_df for a given ticker
#         call the function that will do the Gradient Boosting Decision Tree Algorithm (GBDT)
# white_check_mark
# eyes
# raised_hands::skin-tone-4





# 9:01
# you have to us the CSV file with only the tickers in it
# New
# 9:03
# # you have to make all the columns a number
# # what can you use to do this? I forget
# #after you have all columns as numbers, then do the following:
# #sort the dataframe by ticker column
# #prime prev_ticker with first record's ticker value in the datafrome
# for each record in the the dataframe:
#     move records ticker into new_ticker
#     if new_ticker = prev_ticker:
#         move the ticker value to previous value
#         and...
#         move the record to the processing_dataframe
#     else: # when the new_ticker and the previous_ticker aren't the same,
#           # we have all records in the processing_df for a given ticker
#         call the function that will do the Gradient Boosting Decision Tree Algorithm (GBDT)

In [30]:
# FOR LOOP
# prime previous ticker as variable: 

# prev_ticker = stock_df[ticker]
#     for record in stock_df:
#         new_ticker = stock_df[ticker]
        
#         if (new_ticker == prev_ticker):
#             prev_ticker = stock_df[ticker]
#             processing_df.append(record)
#         else
#             def model_random_forest(processing_df):

In [19]:
X.describe()

,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change,employee_count_1k-5k,employee_count_500-1k,...,state_name_WA,state_name_WI,country_code_Argentina,country_code_Australia,country_code_CA,country_code_CH,country_code_CN,country_code_Netherlands,country_code_UK,country_code_US
count,50874.000000,50874.000000,50874.000000,50874.000000,5.087400e+04,50874.000000,5.087400e+04,50874.000000,50874.000000,50874.000000,...,50874.000000,50874.000000,50874.000000,50874.000000,50874.000000,50874.000000,50874.000000,50874.000000,50874.000000,50874.000000
mean,297.455243,301.673835,293.013166,297.388236,7.683480e+06,297.402374,7.490834e+04,1.522338,0.131934,0.039627,...,0.069348,0.009907,0.009907,0.009907,0.009907,0.019814,0.009907,0.019814,0.009907,0.910839
std,480.512346,486.195147,474.296604,480.188942,1.728108e+07,480.302373,1.334121e+05,1.581511,0.338422,0.195084,...,0.254047,0.099040,0.099040,0.099040,0.099040,0.139361,0.099040,0.139361,0.099040,0.284979
min,4.380000,4.600000,4.110000,4.440000,6.954300e+04,4.425500,2.794000e+03,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,82.930000,84.120000,81.543475,82.917000,1.261210e+06,82.909075,2.208600e+04,0.486388,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,155.375000,158.000000,152.770000,155.615000,2.626642e+06,155.428000,3.648000e+04,1.074120,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,302.820000,308.075000,298.055000,302.901250,6.403628e+06,302.907350,6.899325e+04,2.017073,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,3744.000000,3773.078200,3696.792900,3731.410000,4.016934e+08,3722.763200,2.966979e+06,40.454186,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
y.value_counts()
# second class is date

AMD 2020-03-12     1
MU 2020-11-10      1
MU 2020-11-12      1
MU 2020-11-15      1
MU 2020-11-16      1
                  ..
DXCM 2020-04-02    1
DXCM 2020-04-05    1
DXCM 2020-04-06    1
DXCM 2020-04-07    1
ZS 2022-03-10      1
Name: ticker_date, Length: 50874, dtype: int64

In [21]:
np.unique(y)

array(['AAPL 2020-03-12', 'AAPL 2020-03-15', 'AAPL 2020-03-16', ...,
       'ZS 2022-03-08', 'ZS 2022-03-09', 'ZS 2022-03-10'], dtype=object)

In [22]:
# train the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
# random forest classfier
# n_estimator default at 100
random_forest = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
random_forest.fit(X_train, y_train)

KeyboardInterrupt:

In [ ]:
# confusion matrix
# this matrix is gigantic
y_pred = random_forest.predict(X_test)
confusion_matrix(y_test, y_pred)

In [ ]:
balanced_accuracy_score(y_test, y_pred)
# store score (metrics) THEN
# empty processing_df data frame to star the for loop again

In [ ]:
print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
sorted(zip(X.columns, random_forest.feature_importances_), reverse=True)