In [1]:
#dependencies
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [2]:
# GET Tabled input
# creating database engine
db_name = 'Company_Stocks_DB'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)
# read data from PostgreSQL database table and load into Dataframe instance
stock_df = pd.read_sql("select * from \"company_all_star\"", engine);
# sort the dataframe by ticker column
stock_df.sort_values(by=["ticker"])
# Print the DataFrame
stock_df.head()

,ticker,date_val,company_name,company_url,employee_count,revenue,sector,city_name,state_name,region,...,latitude,longitude,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD,2020-03-12,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,42.20,43.91,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD,2020-03-15,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,39.08,43.37,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD,2020-03-16,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,40.19,42.88,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD,2020-03-17,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,39.54,41.95,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD,2020-03-18,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,39.56,41.70,37.69,39.82,88939024.0,40.2337,396388.0,0.657230

In [3]:
#def get_stock(begin_date, end_date)
 # stock_df['date'] = stock_date['date_val']
 # begin_date = begin_date
 # end_date = end_date 
    #rest of code in cell below
 # for loop

In [4]:
# preserve date column as type object
stock_df['date'] = stock_df['date_val']
# have the user enter beginning date as yyyy-mm-dd
begin_date = '2022-03-08'
# have the user enter ending date as yyyy-mm-dd
end_date = '2022-03-10'
# Convert the date to datetime64
stock_df['date_val'] = pd.to_datetime(stock_df['date_val'], format='%Y-%m-%d')
stock_df = stock_df.loc[(stock_df['date_val'] >= begin_date)
                     & (stock_df['date_val'] <= end_date)]
# drop throw-aways
stock_df.drop(["longitude", "latitude", "company_name", "company_url","date_val"], axis=1, inplace=True)
stock_df

,ticker,employee_count,revenue,sector,city_name,state_name,region,country_code,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change,date
501,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,108.410,111.71,106.850,111.05,102310329.0,109.6319,602679.0,2.435200,2022-03-08
502,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,108.890,109.07,103.070,106.46,102557375.0,105.3382,639388.0,2.231610,2022-03-09
503,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,108.130,108.19,104.080,104.29,87584432.0,105.9691,542478.0,3.551281,2022-03-10
1006,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US,443.800,453.11,438.930,450.87,2905656.0,447.8637,67082.0,1.593060,2022-03-08
1007,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US,444.680,447.65,433.010,438.95,2686310.0,437.7568,66371.0,1.288567,2022-03-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50368,ZM,1k-5k,100m-200m,Technology,San Jose,CA,W,US,105.835,106.90,101.055,103.33,5030777.0,103.3206,88819.0,2.366892,2022-03-09
50369,ZM,1k-5k,100m-200m,Technology,San Jose,CA,W,US,103.480,103.49,97.900,98.12,6454629.0,99.6973,104681.0,5.179745,2022-03-10
50871,ZS,1k-5k,100m-200m,Technology,San Jose,CA,W,US,203.840,213.57,199.120,212.35,3050554.0,209.3268,45960.0,4.174843,2022-03-08
50872,ZS,1k-5k,100m-200m,Technology,San Jose,CA,W,US,212.130,213.51,204.870,208.41,2305091.0,208.7971,40754.0,1.753642,2022-03-09
50873,ZS,1k-5k,100m-200m,Technology,San Jose,CA,W,US,211.020,211.67,200.500,201.14,1893573.0,202.9376,37307.0,4.682021,2022-03-10

In [5]:
stock_df.drop(['open_val', 'high_val', 'low_val', 'close_val','number_of_transactions'], axis=1, inplace=True)
stock_df.head(20)

,ticker,employee_count,revenue,sector,city_name,state_name,region,country_code,volume,volume_weight,percent_change,date
501,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,102310329.0,109.6319,2.435200,2022-03-08
502,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,102557375.0,105.3382,2.231610,2022-03-09
503,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,87584432.0,105.9691,3.551281,2022-03-10
1006,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US,2905656.0,447.8637,1.593060,2022-03-08
1007,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US,2686310.0,437.7568,1.288567,2022-03-09
1008,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US,4434498.0,422.5279,5.295001,2022-03-10
1321,ABNB,5k-10k,200m-1b,Technology,San Francisco,CA,W,US,7023908.0,148.5454,1.980334,2022-03-08
1322,ABNB,5k-10k,200m-1b,Technology,San Francisco,CA,W,US,5302511.0,149.8916,4.531056,2022-03-09
1323,ABNB,5k-10k,200m-1b,Technology,San Francisco,CA,W,US,4577255.0,147.8527,5.832739,2022-03-10
1825,ALGN,over-10k,200m-1b,Technology,Tempe,AZ,SW,US,694358.0,438.9188,2.038225,2022-03-08
1826,ALGN,over-10k,200m-1b,Technology,Tempe,AZ,SW,US,532709.0,427.7159,0.424966,2022-03-09
1827,ALGN,over-10k,200m-1b,Technology,Tempe,AZ,SW,US,957114.0,409.9722,8.556235,2022-03-10
2329,AMZN,over-10k,over-1b,Technology,Seattle,WA,NW,US,4132233.0,2821.5439,0.158423,2022-03-08
2330,AMZN,over-10k,over-1b,Technology,Seattle,WA,NW,US,6753145.0,2930.5557,0.777362,2022-03-09
2331,AMZN,over-10k,over-1b,Technology,Seattle,WA,NW,US,3437028.0,2946.3903,2.707681,2022-03-10
2833,AMGN,over-10k,over-1b,Technology,Thousand Oaks,CA,W,US,2640854.0,231.8198,1.182598,2022-03-08
2834,AMGN,over-10k,over-1b,Technology,Thousand Oaks,CA,W,US,3957273.0,227.5793,1.180005,2022-03-09
2835,AMGN,over-10k,over-1b,Technology,Thousand Oaks,CA,W,US,2667024.0,228.6386,0.324405,2022-03-10
3336,AEP,over-10k,over-1b,Energy,Columbus,OH,MW,US,3006258.0,95.0679,0.928050,2022-03-08
3337,AEP,over-10k,over-1b,Energy,Columbus,OH,MW,US,2897953.0,95.5087,1.458620,2022-03-09

In [6]:
# get first stock ticker in first row
process_list = []
prev_ticker = stock_df.iat[0,0]
print (prev_ticker)
i = 0
new_ticker_flag = 'yes'
#for rec in stock_df.iterrows():
for rec in stock_df.iterrows():
    new_ticker = stock_df['ticker']
    new_ticker = new_ticker.iloc[i]
    print("previous ticker and new ticker: ", prev_ticker, "and", new_ticker)
    if (prev_ticker == new_ticker):
        if (new_ticker_flag == 'yes'):
            new_ticker_flag = 'no'
            print(new_ticker_flag)
            begin_vw = stock_df['volume_weight']
            begin_vw = begin_vw.iloc[i]
            print("begin_vw: ", begin_vw)
        else:
            last_vw = stock_df['volume_weight']
            last_vw = last_vw.iloc[i]
            print("last_vw: ", last_vw)
    else:
            print ("new")
            vw_average = 100 -  (last_vw/begin_vw) * 100
            print("vwa: ", vw_average)
            
            process_list.append(vw_average)
            
            prev_ticker = new_ticker
            new_ticker_flag == 'yes'
            begin_vw = stock_df['volume_weight']
            begin_vw = begin_vw.iloc[i]
    i=i+1
vw_average = 100 -  (last_vw/begin_vw) * 100
print("vwa: ", vw_average)
process_list.append(vw_average)

AMD
previous ticker and new ticker:  AMD and AMD
no
begin_vw:  109.6319
previous ticker and new ticker:  AMD and AMD
last_vw:  105.3382
previous ticker and new ticker:  AMD and AMD
last_vw:  105.9691
previous ticker and new ticker:  AMD and ADBE
new
vwa:  3.340998377297126
previous ticker and new ticker:  ADBE and ADBE
last_vw:  437.7568
previous ticker and new ticker:  ADBE and ADBE
last_vw:  422.5279
previous ticker and new ticker:  ADBE and ABNB
new
vwa:  5.657033601964173
previous ticker and new ticker:  ABNB and ABNB
last_vw:  149.8916
previous ticker and new ticker:  ABNB and ABNB
last_vw:  147.8527
previous ticker and new ticker:  ABNB and ALGN
new
vwa:  0.46632208065682335
previous ticker and new ticker:  ALGN and ALGN
last_vw:  427.7159
previous ticker and new ticker:  ALGN and ALGN
last_vw:  409.9722
previous ticker and new ticker:  ALGN and AMZN
new
vwa:  6.594978387802016
previous ticker and new ticker:  AMZN and AMZN
last_vw:  2930.5557
previous ticker and new ticker:  AMZN and AMZN
last_vw:  2946.3903
previous ticker and new ticker:  AMZN and AMGN
new
vwa:  -4.424754830148132
previous ticker and new ticker:  AMGN and AMGN
last_vw:  227.5793
previous ticker and new ticker:  AMGN and AMGN
last_vw:  228.6386
previous ticker and new ticker:  AMGN and AEP
new
vwa:  1.3722727739390592
previous ticker and new ticker:  AEP and AEP
last_vw:  95.5087
previous ticker and new ticker:  AEP and AEP
last_vw:  95.8241
previous ticker and new ticker:  AEP and ADI
new
vwa:  -0.7954314758188588
previous ticker and new ticker:  ADI and ADI
last_vw:  150.1401
previous ticker and new ticker:  ADI and ADI
last_vw:  149.4415
previous ticker and new ticker:  ADI and ANSS
new
vwa:  2.7002619982707046
previous ticker and new ticker:  ANSS and ANSS
last_vw:  301.8731
previous ticker and new ticker:  ANSS and ANSS
last_vw:  298.0095
previous ticker and new ticker:  ANSS and AAPL
new
vwa:  4.143783600875167
previous ticker and new ticker:  AAPL and AAPL
last_vw:  158.0284
previous ticker and new ticker:  AAPL and AAPL
last_vw:  156.1598
previous ticker and new ticker:  AAPL and AMAT
new
vwa:  3.5720857626620557
previous ticker and new ticker:  AMAT and AMAT
last_vw:  124.5674
previous ticker and new ticker:  AMAT and AMAT
last_vw:  125.9169
previous ticker and new ticker:  AMAT and ASML
new
vwa:  1.7768285272324107
previous ticker and new ticker:  ASML and ASML
last_vw:  601.0389
previous ticker and new ticker:  ASML and ASML
last_vw:  595.6976
previous ticker and new ticker:  ASML and TEAM
new
vwa:  3.081222557940393
previous ticker and new ticker:  TEAM and TEAM
last_vw:  256.1528
previous ticker and new ticker:  TEAM and TEAM
last_vw:  248.8555
previous ticker and new ticker:  TEAM and ADSK
new
vwa:  4.454652957482594
previous ticker and new ticker:  ADSK and ADSK
last_vw:  199.9849
previous ticker and new ticker:  ADSK and ADSK
last_vw:  195.0114
previous ticker and new ticker:  ADSK and ATVI
new
vwa:  4.966038309605452
previous ticker and new ticker:  ATVI and ATVI
last_vw:  80.813
previous ticker and new ticker:  ATVI and ATVI
last_vw:  80.4348
previous ticker and new ticker:  ATVI and ADP
new
vwa:  0.6542373509377626
previous ticker and new ticker:  ADP and ADP
last_vw:  207.7212
previous ticker and new ticker:  ADP and ADP
last_vw:  208.5401
previous ticker and new ticker:  ADP and AZN
new
vwa:  0.38662619208548676
previous ticker and new ticker:  AZN and AZN
last_vw:  60.6449
previous ticker and new ticker:  AZN and AZN
last_vw:  60.5447
previous ticker and new ticker:  AZN and AVGO
new
vwa:  -1.0484591055886199
previous ticker and new ticker:  AVGO and AVGO
last_vw:  584.2682
previous ticker and new ticker:  AVGO and AVGO
last_vw:  582.1116
previous ticker and new ticker:  AVGO and BIDU
new
vwa:  2.271516584550753
previous ticker and new ticker:  BIDU and BIDU
last_vw:  135.0444
previous ticker and new ticker:  BIDU and BIDU
last_vw:  123.212
previous ticker and new ticker:  BIDU and BIIB
new
vwa:  13.844088371133594
previous ticker and new ticker:  BIIB and BIIB
last_vw:  198.5026
previous ticker and new ticker:  BIIB and BIIB
last_vw:  199.0211
previous ticker and new ticker:  BIIB and BMRN
new
vwa:  2.585469740332144
previous ticker and new ticker:  BMRN and BMRN
last_vw:  77.6476
previous ticker and new ticker:  BMRN and BMRN
last_vw:  76.5255
previous ticker and new ticker:  BMRN and BKNG
new
vwa:  2.6992284649147393
previous ticker and new ticker:  BKNG and BKNG
last_vw:  2028.467
previous ticker and new ticker:  BKNG and BKNG
last_vw:  2030.8021
previous ticker and new ticker:  BKNG and CDNS
new
vwa:  0.9108212463412997
previous ticker and new ticker:  CDNS and CDNS
last_vw:  148.147
previous ticker and new ticker:  CDNS and CDNS
last_vw:  146.3686
previous ticker and new ticker:  CDNS and CHTR
new
vwa:  2.6170625693187333
previous ticker and new ticker:  CHTR and CHTR
last_vw:  561.1658
previous ticker and new ticker:  CHTR and CHTR
last_vw:  567.4888
previous ticker and new ticker:  CHTR and CPRT
new
vwa:  -1.1117883705428824
previous ticker and new ticker:  CPRT and CPRT
last_vw:  115.1458
previous ticker and new ticker:  CPRT and CPRT
last_vw:  115.7932
previous ticker and new ticker:  CPRT and CRWD
new
vwa:  -0.959520527461649
previous ticker and new ticker:  CRWD and CRWD
last_vw:  191.8395
previous ticker and new ticker:  CRWD and CRWD
last_vw:  193.156
previous ticker and new ticker:  CRWD and CTAS
new
vwa:  -12.722973296310698
previous ticker and new ticker:  CTAS and CTAS
last_vw:  368.7097
previous ticker and new ticker:  CTAS and CTAS
last_vw:  370.587
previous ticker and new ticker:  CTAS and CSCO
new
vwa:  0.7354831935474238
previous ticker and new ticker:  CSCO and CSCO
last_vw:  54.6294
previous ticker and new ticker:  CSCO and CSCO
last_vw:  55.0892
previous ticker and new ticker:  CSCO and CMCSA
new
vwa:  1.1640173669668883
previous ticker and new ticker:  CMCSA and CMCSA
last_vw:  45.3313
previous ticker and new ticker:  CMCSA and CMCSA
last_vw:  45.3243
previous ticker and new ticker:  CMCSA and COST
new
vwa:  2.116434110870898
previous ticker and new ticker:  COST and COST
last_vw:  527.6596
previous ticker and new ticker:  COST and COST
last_vw:  532.3424
previous ticker and new ticker:  COST and CSX
new
vwa:  -1.3509078018181242
previous ticker and new ticker:  CSX and CSX
last_vw:  34.833
previous ticker and new ticker:  CSX and CSX
last_vw:  34.9849
previous ticker and new ticker:  CSX and CTSH
new
vwa:  -0.9295294365413014
previous ticker and new ticker:  CTSH and CTSH
last_vw:  87.1445
previous ticker and new ticker:  CTSH and CTSH
last_vw:  88.5223
previous ticker and new ticker:  CTSH and DDOG
new
vwa:  -0.006778412563562597
previous ticker and new ticker:  DDOG and DDOG
last_vw:  139.1711
previous ticker and new ticker:  DDOG and DDOG
last_vw:  130.0496
previous ticker and new ticker:  DDOG and DOCU
new
vwa:  6.680558784611904
previous ticker and new ticker:  DOCU and DOCU
last_vw:  88.3931
previous ticker and new ticker:  DOCU and DOCU
last_vw:  74.0216
previous ticker and new ticker:  DOCU and DXCM
new
vwa:  24.678271646897088
previous ticker and new ticker:  DXCM and DXCM
last_vw:  404.807
previous ticker and new ticker:  DXCM and DXCM
last_vw:  396.9054
previous ticker and new ticker:  DXCM and DLTR
new
vwa:  2.499841555186208
previous ticker and new ticker:  DLTR and DLTR
last_vw:  147.4767
previous ticker and new ticker:  DLTR and DLTR
last_vw:  147.3746
previous ticker and new ticker:  DLTR and EA
new
vwa:  0.6020882554683453
previous ticker and new ticker:  EA and EA
last_vw:  123.7974
previous ticker and new ticker:  EA and EA
last_vw:  122.9628
previous ticker and new ticker:  EA and EBAY
new
vwa:  1.7621060906746493
previous ticker and new ticker:  EBAY and EBAY
last_vw:  53.0869
previous ticker and new ticker:  EBAY and EBAY
last_vw:  50.9199
previous ticker and new ticker:  EBAY and EXC
new
vwa:  4.017258831579369
previous ticker and new ticker:  EXC and EXC
last_vw:  43.53
previous ticker and new ticker:  EXC and EXC
last_vw:  43.8972
previous ticker and new ticker:  EXC and FAST
new
vwa:  -0.7375653459029934
previous ticker and new ticker:  FAST and FAST
last_vw:  54.2348
previous ticker and new ticker:  FAST and FAST
last_vw:  54.3752
previous ticker and new ticker:  FAST and FB
new
vwa:  0.4168284410323366
previous ticker and new ticker:  FB and FB
last_vw:  193.9663
previous ticker and new ticker:  FB and FB
last_vw:  189.4396
previous ticker and new ticker:  FB and FISV
new
vwa:  3.8189208646973327
previous ticker and new ticker:  FISV and FISV
last_vw:  94.8574
previous ticker and new ticker:  FISV and FISV
last_vw:  94.8533
previous ticker and new ticker:  FISV and FTNT
new
vwa:  1.3603171334859923
previous ticker and new ticker:  FTNT and FTNT
last_vw:  283.9637
previous ticker and new ticker:  FTNT and FTNT
last_vw:  282.1387
previous ticker and new ticker:  FTNT and GILD
new
vwa:  0.39557408903225166
previous ticker and new ticker:  GILD and GILD
last_vw:  57.8358
previous ticker and new ticker:  GILD and GILD
last_vw:  58.4238
previous ticker and new ticker:  GILD and GOOG
new
vwa:  1.5180937354612922
previous ticker and new ticker:  GOOG and GOOG
last_vw:  2649.0884
previous ticker and new ticker:  GOOG and GOOG
last_vw:  2637.3465
previous ticker and new ticker:  GOOG and GOOGL

new
vwa:  0.489033838112519
previous ticker and new ticker:  GOOGL and GOOGL
last_vw:  2640.1379
previous ticker and new ticker:  GOOGL and GOOGL
last_vw:  2626.3924
previous ticker and new ticker:  GOOGL and HON
new
vwa:  0.6535197121667125
previous ticker and new ticker:  HON and HON
last_vw:  184.1054
previous ticker and new ticker:  HON and HON
last_vw:  183.66
previous ticker and new ticker:  HON and ILMN
new
vwa:  1.0858688404868246
previous ticker and new ticker:  ILMN and ILMN
last_vw:  315.4683
previous ticker and new ticker:  ILMN and ILMN
last_vw:  308.8718
previous ticker and new ticker:  ILMN and INTC
new
vwa:  4.85508250855581
previous ticker and new ticker:  INTC and INTC
last_vw:  46.5762
previous ticker and new ticker:  INTC and INTC
last_vw:  46.2802
previous ticker and new ticker:  INTC and INTU
new
vwa:  2.750011031984357
previous ticker and new ticker:  INTU and INTU
last_vw:  450.4148
previous ticker and new ticker:  INTU and INTU
last_vw:  443.7956
previous ticker and new ticker:  INTU and ISRG
new
vwa:  4.225141775387399
previous ticker and new ticker:  ISRG and ISRG
last_vw:  274.4961
previous ticker and new ticker:  ISRG and ISRG
last_vw:  276.1064
previous ticker and new ticker:  ISRG and MRVL
new
vwa:  0.3267013559730714
previous ticker and new ticker:  MRVL and MRVL
last_vw:  65.2805
previous ticker and new ticker:  MRVL and MRVL
last_vw:  64.1245
previous ticker and new ticker:  MRVL and IDXX
new
vwa:  3.685151251164058
previous ticker and new ticker:  IDXX and IDXX
last_vw:  520.0078
previous ticker and new ticker:  IDXX and IDXX
last_vw:  506.76
previous ticker and new ticker:  IDXX and JD
new
vwa:  3.95394884101664
previous ticker and new ticker:  JD and JD
last_vw:  52.8668
previous ticker and new ticker:  JD and JD
last_vw:  49.7949
previous ticker and new ticker:  JD and KDP
new
vwa:  19.524824609178665
previous ticker and new ticker:  KDP and KDP
last_vw:  37.0888
previous ticker and new ticker:  KDP and KDP
last_vw:  37.0816
previous ticker and new ticker:  KDP and KLAC
new
vwa:  1.2629174111124968
previous ticker and new ticker:  KLAC and KLAC
last_vw:  328.3266
previous ticker and new ticker:  KLAC and KLAC
last_vw:  326.6187
previous ticker and new ticker:  KLAC and KHC
new
vwa:  3.5006061150404406
previous ticker and new ticker:  KHC and KHC
last_vw:  37.4623
previous ticker and new ticker:  KHC and KHC
last_vw:  37.6486
previous ticker and new ticker:  KHC and LRCX
new
vwa:  2.261440250053866
previous ticker and new ticker:  LRCX and LRCX
last_vw:  495.6429
previous ticker and new ticker:  LRCX and LRCX
last_vw:  488.7582
previous ticker and new ticker:  LRCX and LCID
new
vwa:  5.138486751829362
previous ticker and new ticker:  LCID and LCID
last_vw:  24.1074
previous ticker and new ticker:  LCID and LCID
last_vw:  23.2549
previous ticker and new ticker:  LCID and LULU
new
vwa:  7.748303124789274
previous ticker and new ticker:  LULU and LULU
last_vw:  300.6244
previous ticker and new ticker:  LULU and LULU
last_vw:  295.5002
previous ticker and new ticker:  LULU and MELI
new
vwa:  3.0744882713649986
previous ticker and new ticker:  MELI and MELI
last_vw:  935.0841
previous ticker and new ticker:  MELI and MELI
last_vw:  903.7596
previous ticker and new ticker:  MELI and MAR
new
vwa:  5.865876312981314
previous ticker and new ticker:  MAR and MAR
last_vw:  161.8691
previous ticker and new ticker:  MAR and MAR
last_vw:  163.0318
previous ticker and new ticker:  MAR and MTCH
new
vwa:  -1.7442299495309896
previous ticker and new ticker:  MTCH and MTCH
last_vw:  95.3778
previous ticker and new ticker:  MTCH and MTCH
last_vw:  90.1154
previous ticker and new ticker:  MTCH and MCHP
new
vwa:  8.42107723529729
previous ticker and new ticker:  MCHP and MCHP
last_vw:  69.5075
previous ticker and new ticker:  MCHP and MCHP
last_vw:  69.7539
previous ticker and new ticker:  MCHP and MDLZ
new
vwa:  1.5656883525204819
previous ticker and new ticker:  MDLZ and MDLZ
last_vw:  60.1671
previous ticker and new ticker:  MDLZ and MDLZ
last_vw:  59.737
previous ticker and new ticker:  MDLZ and MRNA
new
vwa:  2.9551904685319528
previous ticker and new ticker:  MRNA and MRNA
last_vw:  138.5617
previous ticker and new ticker:  MRNA and MRNA
last_vw:  140.7167
previous ticker and new ticker:  MRNA and MNST
new
vwa:  -0.0018477181746590077
previous ticker and new ticker:  MNST and MNST
last_vw:  75.3567
previous ticker and new ticker:  MNST and MNST
last_vw:  74.0202
previous ticker and new ticker:  MNST and MSFT
new
vwa:  3.1521901257892893
previous ticker and new ticker:  MSFT and MSFT
last_vw:  283.9699
previous ticker and new ticker:  MSFT and MSFT
last_vw:  283.7288
previous ticker and new ticker:  MSFT and MU
new
vwa:  0.8654611471885119
previous ticker and new ticker:  MU and MU
last_vw:  75.3013
previous ticker and new ticker:  MU and MU
last_vw:  73.5912
previous ticker and new ticker:  MU and NFLX
new
vwa:  7.155320219977355
previous ticker and new ticker:  NFLX and NFLX
last_vw:  358.9168
previous ticker and new ticker:  NFLX and NFLX
last_vw:  346.3833
previous ticker and new ticker:  NFLX and NTES
new
vwa:  3.3929022154603814
previous ticker and new ticker:  NTES and NTES
last_vw:  80.8696
previous ticker and new ticker:  NTES and NTES
last_vw:  80.1779
previous ticker and new ticker:  NTES and NVDA
new
vwa:  9.449340898618559
previous ticker and new ticker:  NVDA and NVDA
last_vw:  223.6303
previous ticker and new ticker:  NVDA and NVDA
last_vw:  224.9843
previous ticker and new ticker:  NVDA and NXPI
new
vwa:  1.26183020677216
previous ticker and new ticker:  NXPI and NXPI
last_vw:  179.3581
previous ticker and new ticker:  NXPI and NXPI
last_vw:  180.2879
previous ticker and new ticker:  NXPI and OKTA
new
vwa:  1.9638987599204967
previous ticker and new ticker:  OKTA and OKTA
last_vw:  165.3699
previous ticker and new ticker:  OKTA and OKTA
last_vw:  157.0688
previous ticker and new ticker:  OKTA and ODFL
new
vwa:  6.7740254436977665
previous ticker and new ticker:  ODFL and ODFL
last_vw:  307.8806
previous ticker and new ticker:  ODFL and ODFL
last_vw:  308.1769
previous ticker and new ticker:  ODFL and ORLY
new
vwa:  -0.7362600903163923
previous ticker and new ticker:  ORLY and ORLY
last_vw:  672.3348
previous ticker and new ticker:  ORLY and ORLY
last_vw:  679.5612
previous ticker and new ticker:  ORLY and PCAR
new
vwa:  -0.8891100644860188
previous ticker and new ticker:  PCAR and PCAR
last_vw:  85.9713
previous ticker and new ticker:  PCAR and PCAR
last_vw:  85.8099
previous ticker and new ticker:  PCAR and PANW
new
vwa:  1.591894309502507
previous ticker and new ticker:  PANW and PANW
last_vw:  551.1671
previous ticker and new ticker:  PANW and PANW
last_vw:  551.3746
previous ticker and new ticker:  PANW and PAYX
new
vwa:  0.07664043421726774
previous ticker and new ticker:  PAYX and PAYX
last_vw:  121.3758
previous ticker and new ticker:  PAYX and PAYX
last_vw:  121.6751
previous ticker and new ticker:  PAYX and PDD
new
vwa:  0.004930921893375739
previous ticker and new ticker:  PDD and PDD
last_vw:  36.3579
previous ticker and new ticker:  PDD and PDD
last_vw:  33.4402
previous ticker and new ticker:  PDD and PYPL
new
vwa:  21.71064953551094
previous ticker and new ticker:  PYPL and PYPL
last_vw:  97.9276
previous ticker and new ticker:  PYPL and PYPL
last_vw:  97.3225
previous ticker and new ticker:  PYPL and PEP
new
vwa:  1.9989406651655912
previous ticker and new ticker:  PEP and PEP
last_vw:  154.6174
previous ticker and new ticker:  PEP and PEP
last_vw:  154.793
previous ticker and new ticker:  PEP and QCOM
new
vwa:  1.8129896886290595
previous ticker and new ticker:  QCOM and QCOM
last_vw:  153.5928
previous ticker and new ticker:  QCOM and QCOM
last_vw:  154.1756
previous ticker and new ticker:  QCOM and REGN
new
vwa:  1.601745664717754
previous ticker and new ticker:  REGN and REGN
last_vw:  626.3473
previous ticker and new ticker:  REGN and REGN
last_vw:  645.0864
previous ticker and new ticker:  REGN and ROST
new
vwa:  -3.623676364757884
previous ticker and new ticker:  ROST and ROST
last_vw:  88.9545
previous ticker and new ticker:  ROST and ROST
last_vw:  88.5806
previous ticker and new ticker:  ROST and SIRI
new
vwa:  -0.24977393591439068
previous ticker and new ticker:  SIRI and SIRI
last_vw:  6.2
previous ticker and new ticker:  SIRI and SIRI
last_vw:  6.2143
previous ticker and new ticker:  SIRI and SGEN
new
vwa:  0.8994211172596351
previous ticker and new ticker:  SGEN and SGEN
last_vw:  140.4637
previous ticker and new ticker:  SGEN and SGEN
last_vw:  138.8715
previous ticker and new ticker:  SGEN and SPLK
new
vwa:  0.6665078721317883
previous ticker and new ticker:  SPLK and SPLK
last_vw:  127.1526
previous ticker and new ticker:  SPLK and SPLK
last_vw:  123.9052
previous ticker and new ticker:  SPLK and SWKS
new
vwa:  3.230739312678125
previous ticker and new ticker:  SWKS and SWKS
last_vw:  131.1486
previous ticker and new ticker:  SWKS and SWKS
last_vw:  128.9609
previous ticker and new ticker:  SWKS and SBUX
new
vwa:  3.9086035326157855
previous ticker and new ticker:  SBUX and SBUX
last_vw:  86.6866
previous ticker and new ticker:  SBUX and SBUX
last_vw:  84.2136
previous ticker and new ticker:  SBUX and SNPS
new
vwa:  3.6464280565579656
previous ticker and new ticker:  SNPS and SNPS
last_vw:  297.4164
previous ticker and new ticker:  SNPS and SNPS
last_vw:  297.5679
previous ticker and new ticker:  SNPS and TSLA
new
vwa:  3.0365919941815633
previous ticker and new ticker:  TSLA and TSLA
last_vw:  830.2271
previous ticker and new ticker:  TSLA and TSLA
last_vw:  808.9169
previous ticker and new ticker:  TSLA and TXN
new
vwa:  4.909724902257949
previous ticker and new ticker:  TXN and TXN
last_vw:  171.6576
previous ticker and new ticker:  TXN and TXN
last_vw:  171.846
previous ticker and new ticker:  TXN and TMUS
new
vwa:  0.3225020591408452
previous ticker and new ticker:  TMUS and TMUS
last_vw:  122.625
previous ticker and new ticker:  TMUS and TMUS
last_vw:  125.2409
previous ticker and new ticker:  TMUS and VRSN
new
vwa:  -2.802083606944919
previous ticker and new ticker:  VRSN and VRSN
last_vw:  206.7204
previous ticker and new ticker:  VRSN and VRSN
last_vw:  205.8594
previous ticker and new ticker:  VRSN and VRSK
new
vwa:  1.5900712094905174
previous ticker and new ticker:  VRSK and VRSK
last_vw:  184.6647
previous ticker and new ticker:  VRSK and VRSK
last_vw:  183.5925
previous ticker and new ticker:  VRSK and VRTX
new
vwa:  1.650738720978822
previous ticker and new ticker:  VRTX and VRTX
last_vw:  239.5513
previous ticker and new ticker:  VRTX and VRTX
last_vw:  239.6352
previous ticker and new ticker:  VRTX and WBA
new
vwa:  -0.40032730056221055
previous ticker and new ticker:  WBA and WBA
last_vw:  47.7198
previous ticker and new ticker:  WBA and WBA
last_vw:  47.9174
previous ticker and new ticker:  WBA and WDAY
new
vwa:  0.5169578793515939
previous ticker and new ticker:  WDAY and WDAY
last_vw:  229.0807
previous ticker and new ticker:  WDAY and WDAY
last_vw:  226.195
previous ticker and new ticker:  WDAY and XEL
new
vwa:  2.9226007361221775
previous ticker and new ticker:  XEL and XEL
last_vw:  69.9773
previous ticker and new ticker:  XEL and XEL
last_vw:  70.4602
previous ticker and new ticker:  XEL and ZM
new
vwa:  -0.741475745479093
previous ticker and new ticker:  ZM and ZM
last_vw:  103.3206
previous ticker and new ticker:  ZM and ZM
last_vw:  99.6973
previous ticker and new ticker:  ZM and ZS
new
vwa:  8.795148538944701
previous ticker and new ticker:  ZS and ZS
last_vw:  208.7971
previous ticker and new ticker:  ZS and ZS
last_vw:  202.9376
vwa:  3.0522608667404256

In [7]:
process_list

[3.340998377297126,
 5.657033601964173,
 0.46632208065682335,
 6.594978387802016,
 -4.424754830148132,
 1.3722727739390592,
 -0.7954314758188588,
 2.7002619982707046,
 4.143783600875167,
 3.5720857626620557,
 1.7768285272324107,
 3.081222557940393,
 4.454652957482594,
 4.966038309605452,
 0.6542373509377626,
 0.38662619208548676,
 -1.0484591055886199,
 2.271516584550753,
 13.844088371133594,
 2.585469740332144,
 2.6992284649147393,
 0.9108212463412997,
 2.6170625693187333,
 -1.1117883705428824,
 -0.959520527461649,
 -12.722973296310698,
 0.7354831935474238,
 1.1640173669668883,
 2.116434110870898,
 -1.3509078018181242,
 -0.9295294365413014,
 -0.006778412563562597,
 6.680558784611904,
 24.678271646897088,
 2.499841555186208,
 0.6020882554683453,
 1.7621060906746493,
 4.017258831579369,
 -0.7375653459029934,
 0.4168284410323366,
 3.8189208646973327,
 1.3603171334859923,
 0.39557408903225166,
 1.5180937354612922,
 0.489033838112519,
 0.6535197121667125,
 1.0858688404868246,
 4.85508250855581,
 2.750011031984357,
 4.225141775387399,
 0.3267013559730714,
 3.685151251164058,
 3.95394884101664,
 19.524824609178665,
 1.2629174111124968,
 3.5006061150404406,
 2.261440250053866,
 5.138486751829362,
 7.748303124789274,
 3.0744882713649986,
 5.865876312981314,
 -1.7442299495309896,
 8.42107723529729,
 1.5656883525204819,
 2.9551904685319528,
 -0.0018477181746590077,
 3.1521901257892893,
 0.8654611471885119,
 7.155320219977355,
 3.3929022154603814,
 9.449340898618559,
 1.26183020677216,
 1.9638987599204967,
 6.7740254436977665,
 -0.7362600903163923,
 -0.8891100644860188,
 1.591894309502507,
 0.07664043421726774,
 0.004930921893375739,
 21.71064953551094,
 1.9989406651655912,
 1.8129896886290595,
 1.601745664717754,
 -3.623676364757884,
 -0.24977393591439068,
 0.8994211172596351,
 0.6665078721317883,
 3.230739312678125,
 3.9086035326157855,
 3.6464280565579656,
 3.0365919941815633,
 4.909724902257949,
 0.3225020591408452,
 -2.802083606944919,
 1.5900712094905174,
 1.650738720978822,
 -0.40032730056221055,
 0.5169578793515939,
 2.9226007361221775,
 -0.741475745479093,
 8.795148538944701,
 3.0522608667404256]

In [8]:
# ticker, to volume columns.  
#vw_average is our target

# combine object columns from stock_df with proces_list into new DataFrame process_df.
# ticker, employee_count, revenue, sector, city_name, state_name, country_code

#stock_df.columns.tolist()

In [9]:
#len(process_list)

In [10]:
#len(stock_df)

In [11]:
# make copy for testing adding process_list as column to new dataframe for model
stock_df = stock_df.copy(deep=True)

In [12]:
stock_df = stock_df.drop(["volume", "volume_weight", "percent_change","date"], axis=1)
stock_df.columns.tolist()

['ticker',
 'employee_count',
 'revenue',
 'sector',
 'city_name',
 'state_name',
 'region',
 'country_code']

In [13]:
stock_df = stock_df.drop_duplicates(subset="ticker")
stock_df.sort_values(by=["ticker"])
stock_df

,ticker,employee_count,revenue,sector,city_name,state_name,region,country_code
501,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US
1006,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US
1321,ABNB,5k-10k,200m-1b,Technology,San Francisco,CA,W,US
1825,ALGN,over-10k,200m-1b,Technology,Tempe,AZ,SW,US
2329,AMZN,over-10k,over-1b,Technology,Seattle,WA,NW,US
...,...,...,...,...,...,...,...,...
48855,WBA,over-10k,over-1b,Healthcare,Chicago,IL,MW,US
49360,WDAY,over-10k,over-1b,Technology,Pleasanton,CA,W,US
49863,XEL,over-10k,over-1b,Utilities,Minneapolis,MN,MW,US
50367,ZM,1k-5k,100m-200m,Technology,San Jose,CA,W,US
50871,ZS,1k-5k,100m-200m,Technology,San Jose,CA,W,US

In [14]:
### HERE IS WHERE ISSUE LIES, length of dataframe is 102, 
### and the volume weight average from for loop list lenght is 101

stock_df["volume_weight_avg"] = process_list

In [15]:
stock_df.head()

,ticker,employee_count,revenue,sector,city_name,state_name,region,country_code,volume_weight_avg
501,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,3.340998
1006,ADBE,over-10k,1m-10m,Technology,San Jose,CA,W,US,5.657034
1321,ABNB,5k-10k,200m-1b,Technology,San Francisco,CA,W,US,0.466322
1825,ALGN,over-10k,200m-1b,Technology,Tempe,AZ,SW,US,6.594978
2329,AMZN,over-10k,over-1b,Technology,Seattle,WA,NW,US,-4.424755

In [16]:
stock_df.drop(columns="ticker", inplace=True)

In [17]:
stock_df.drop(columns="city_name", inplace=True)

In [18]:
stock_cat = stock_df.dtypes[stock_df.dtypes=="object"].index.tolist()
stock_df[stock_cat].nunique()

employee_count     4
revenue            6
sector             9
state_name        28
region            11
country_code       8
dtype: int64

In [19]:
stock_df.reset_index(drop=True,inplace=True)

In [20]:
#----------------------------------- ONE HOT ENCODE METHOD

# # Create OneHotEnocder Instance
# enc = OneHotEncoder(sparse=False)

# # Fit and transform categorical data
# encode_df = pd.DataFrame(enc.fit_transform(stock_df[stock_cat]))

# # Add the encoded variable names to encode_df
# encode_df.columns = enc.get_feature_names_out(stock_cat)
# encode_df.head()


#-------------------------------------- OLD "BUCKETING" METHOD

# #stock_df["employee_count"].astype('category').cat.codes
# stock_df['employee_count'] = stock_df['employee_count'].astype('category').cat.codes
# stock_df['revenue'] = stock_df['revenue'].astype('category').cat.codes
# stock_df['sector'] = stock_df['sector'].astype('category').cat.codes
# stock_df['region'] = stock_df['region'].astype('category').cat.codes
# #stock_df['city_name'] = stock_df['city_name'].astype('category').cat.codes
# stock_df['state_name'] = stock_df['state_name'].astype('category').cat.codes
# stock_df['country_code'] = stock_df['country_code'].astype('category').cat.codes

# processing_df = stock_df.copy()

In [21]:
#------------------------------------------------ SUPER MANUAL "BUCKET" METHOD
# replace stock's employee count string with integer
stock_df.loc[(stock_df['employee_count'] == '5k-10k'), 'employee_count'] = 0
stock_df.loc[(stock_df['employee_count'] == 'over-10k'), 'employee_count'] = 1
stock_df.loc[(stock_df['employee_count'] == '1k-5k'), 'employee_count'] = 2
stock_df.loc[(stock_df['employee_count'] == '500-1k'), 'employee_count'] = 3

# replace stock's revenue string with integer
stock_df.loc[(stock_df['revenue'] == '1m-10m'), 'revenue'] = 0
stock_df.loc[(stock_df['revenue'] == '10m-50m'), 'revenue'] = 1
stock_df.loc[(stock_df['revenue'] == '50m-100m'), 'revenue'] = 2
stock_df.loc[(stock_df['revenue'] == '100m-200m'), 'revenue'] = 3
stock_df.loc[(stock_df['revenue'] == '200m-1b'), 'revenue'] = 4
stock_df.loc[(stock_df['revenue'] == 'over-1b'), 'revenue'] = 5

# replace stock's sector string with integer
stock_df.loc[(stock_df['sector'] == 'Technology'), 'sector'] = 0
stock_df.loc[(stock_df['sector'] == 'Energy'), 'sector'] = 1
stock_df.loc[(stock_df['sector'] == 'Healthcare'), 'sector'] = 2
stock_df.loc[(stock_df['sector'] == 'Consumer Discretionary'), 'sector'] = 3
stock_df.loc[(stock_df['sector'] == 'Industrials'), 'sector'] = 4
stock_df.loc[(stock_df['sector'] == 'Consumer Staples'), 'sector'] = 5
stock_df.loc[(stock_df['sector'] == 'Communication Services'), 'sector'] = 6
stock_df.loc[(stock_df['sector'] == 'Financials'), 'sector'] = 7
stock_df.loc[(stock_df['sector'] == 'Utilities'), 'sector'] = 8

# replace stock's country code string with integer (Note: China was CN and CH for some reason)
stock_df.loc[(stock_df['country_code'] == 'US'), 'country_code'] = 0
stock_df.loc[(stock_df['country_code'] == 'Netherlands'), 'country_code'] = 1
stock_df.loc[(stock_df['country_code'] == 'Australia'), 'country_code'] = 2
stock_df.loc[(stock_df['country_code'] == 'UK'), 'country_code'] = 3
stock_df.loc[(stock_df['country_code'] == 'CH'), 'country_code'] = 4
stock_df.loc[(stock_df['country_code'] == 'CN'), 'country_code'] = 4
stock_df.loc[(stock_df['country_code'] == 'CA'), 'country_code'] = 5
stock_df.loc[(stock_df['country_code'] == 'Argentina'), 'country_code'] = 6

# replace stock's region string with integer 
stock_df.loc[(stock_df['region'] == 'W'), 'region'] = 0
stock_df.loc[(stock_df['region'] == 'MW'), 'region'] = 1
stock_df.loc[(stock_df['region'] == 'SW'), 'region'] = 2
stock_df.loc[(stock_df['region'] == 'NW'), 'region'] = 3
stock_df.loc[(stock_df['region'] == 'SE'), 'region'] = 4
stock_df.loc[(stock_df['region'] == 'NL'), 'region'] = 5
stock_df.loc[(stock_df['region'] == 'AU'), 'region'] = 6
stock_df.loc[(stock_df['region'] == 'NE'), 'region'] = 7
stock_df.loc[(stock_df['region'] == 'GB'), 'region'] = 8
stock_df.loc[(stock_df['region'] == 'CH'), 'region'] = 9
stock_df.loc[(stock_df['region'] == 'CA'), 'region'] = 10


#create buckets for vwa
stock_df.loc[(stock_df['volume_weight_avg'] < 0), 'volume_weight_avg'] = 0
stock_df.loc[(stock_df['volume_weight_avg'] > 0) & (stock_df['volume_weight_avg'] <= 1), 'volume_weight_avg'] = 1
stock_df.loc[(stock_df['volume_weight_avg'] > 1) & (stock_df['volume_weight_avg'] <= 2), 'volume_weight_avg'] = 2
stock_df.loc[(stock_df['volume_weight_avg'] > 2) & (stock_df['volume_weight_avg'] <= 3), 'volume_weight_avg'] = 3
stock_df.loc[(stock_df['volume_weight_avg'] > 3) & (stock_df['volume_weight_avg'] <= 4), 'volume_weight_avg'] = 4
stock_df.loc[(stock_df['volume_weight_avg'] > 4) & (stock_df['volume_weight_avg'] <= 5), 'volume_weight_avg'] = 5
stock_df.loc[(stock_df['volume_weight_avg'] > 5) & (stock_df['volume_weight_avg'] <= 6), 'volume_weight_avg'] = 6
# stock_df.loc[(stock_df['volume_weight_avg'] > 6) & (stock_df['volume_weight_avg'] <= 7), 'volume_weight_avg'] = 7
# stock_df.loc[(stock_df['volume_weight_avg'] > 7) & (stock_df['volume_weight_avg'] <= 8), 'volume_weight_avg'] = 8
# stock_df.loc[(stock_df['volume_weight_avg'] > 8) & (stock_df['volume_weight_avg'] <= 9), 'volume_weight_avg'] = 9
# stock_df.loc[(stock_df['volume_weight_avg'] > 9) & (stock_df['volume_weight_avg'] <= 10), 'volume_weight_avg'] = 10
stock_df.loc[(stock_df['volume_weight_avg'] > 6), 'volume_weight_avg'] = 7

stock_df

,employee_count,revenue,sector,state_name,region,country_code,volume_weight_avg
0,0,5,0,CA,0,0,4.0
1,1,0,0,CA,0,0,6.0
2,0,4,0,CA,0,0,1.0
3,1,4,0,AZ,2,0,7.0
4,1,5,0,WA,3,0,0.0
...,...,...,...,...,...,...,...
97,1,5,2,IL,1,0,1.0
98,1,5,0,CA,0,0,3.0
99,1,5,8,MN,1,0,0.0
100,2,3,0,CA,0,0,7.0
101,2,3,0,CA,0,0,4.0

In [22]:
# ticker, to volume columns.  
#vw_average is our target

# combine object columns from stock_df with proces_list into new DataFrame process_df.

In [23]:
#float_stock_df = stock_df.select_dtypes(exclude=['object'])
#float_stock_df.head()

In [24]:
# Merge encode_df features and drop originals, n means new
#processing_df = encode_df.merge(stock_df, left_index=True, right_index=True) 
#processing_df = stock_df.drop(stock_cat, axis=1)
#processing_df.head()

In [26]:
# Function to run model (run each ticker and date through model in for loop)
# def random_forest(processing_df): does not need to be a functino for 'for loop' anymore
X = stock_df.drop(["volume_weight_avg"], axis=1)
X = pd.get_dummies(X)
    
y = stock_df["volume_weight_avg"] #<- weighted volume

In [27]:
X.describe()

,employee_count_0,employee_count_1,employee_count_2,employee_count_3,revenue_0,revenue_1,revenue_2,revenue_3,revenue_4,revenue_5,...,region_8,region_9,region_10,country_code_0,country_code_1,country_code_2,country_code_3,country_code_4,country_code_5,country_code_6
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,...,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,0.215686,0.607843,0.137255,0.039216,0.049020,0.009804,0.029412,0.039216,0.088235,0.784314,...,0.009804,0.029412,0.009804,0.911765,0.019608,0.009804,0.009804,0.029412,0.009804,0.009804
std,0.413329,0.490642,0.345816,0.195066,0.216975,0.099015,0.169792,0.195066,0.285037,0.413329,...,0.099015,0.169792,0.099015,0.285037,0.139333,0.099015,0.099015,0.169792,0.099015,0.099015
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
np.unique(y)

array([0., 1., 2., 3., 4., 5., 6., 7.])

In [30]:
# train the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [31]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
# random forest classfier
# n_estimator default at 100
random_forest = RandomForestRegressor(n_estimators=100, max_depth=15,random_state=1)
random_forest.fit(X_train, y_train)

RandomForestRegressor(max_depth=15, random_state=1)

In [33]:
y_pred = random_forest.predict(X_test)
y_true = y_test

In [36]:
print(f"r2 Score: {metrics.r2_score(y_test, y_pred)}")
print(f"mean absolute error: {metrics.mean_absolute_error(y_test, y_pred)}")

r2 Score: 0.17511025736925367
mean absolute error: 1.5646063111708355

In [ ]:
# print(classification_report_imbalanced(y_test, y_pred))

# with open("random_forest_result.txt", "w") as external_file:
#     add_text = classification_report_imbalanced(y_test, y_pred)
#     print(add_text, file=external_file)
#     external_file.close()

In [ ]:
#sorted(zip(X.columns, random_forest.feature_importances_), reverse=True)